registry=https://npm-proxy.fury.io/ignota/
//npm-proxy.fury.io/ignota/:_authToken=${FURY_TOKEN}
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONT_AWESOME_TOKEN}
